abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.channel-wrap {
  width: 1120px;
  margin: 10px auto 0;
}

.article-list {
  width: 1120px;
}

.fl {
  float: left;
}

.article-list .card {
  margin-bottom: 30px;
  margin-top: 16px;
  margin-right: 25px;
  width: 255px;
  position: relative;
}

.zanshang:hover {
  cursor: default;
  .zanshang-img {
    opacity: 1;
    visibility: visible;
  }
}

.zanshang-img {
  transition: all 0.3s ease-in;
  cursor: pointer;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 40px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  display: block;
  border-radius: 10px;
}

.img-wrap {
  height: 145px;
  position: relative;
  padding-bottom: 10px;
  box-sizing: content-box;
  width: 255px;
  display: block;
}

a,
a:active,
a:hover,
a:link,
a:visited {
  color: #27282d;
  text-decoration: none;
  outline: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #27282d;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.img-wrap .img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

img {
  vertical-align: top;
  border: none;
}

.channel-title {
  height: 51px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(39, 40, 45);
  line-height: 26px;
}

.two-lines {
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  word-break: break-all;
}

.bottom-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bottom-line__time {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.2);
}

.article-item-wrap:hover .channel-title {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.header-top-content {
  background-color: #27282d;
  position: relative;
  padding: 0 10px;
}

.header-top-content ul {
  position: relative;
  z-index: 560;
}

/* .content-wrapper {
  margin: 0 auto;
  width: 1120px;
} */

.vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.space-between-center,
.vertical-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-top-content ul li:first-of-type {
  margin-left: 0;
}

.header-top-content ul li {
  list-style: none;
  margin: 0 30px;
  font-size: 12px;
  line-height: 30px;
  overflow: hidden;
}

.header-top-content ul .header-top-list__link {
  color: #fff;
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.header-top-content a {
  position: relative;
  color: #fff;
}

/* .header-content {
  width: 1120px;
  margin: 0 auto;
} */

.header-top-content ul li {
  list-style: none;
  margin: 0 30px;
  font-size: 12px;
  line-height: 30px;
  overflow: hidden;
  color: #fff;
}

.header-top-content ul li {
  list-style: none;
  margin: 0 30px;
  font-size: 12px;
  line-height: 30px;
  overflow: hidden;
}

.header-top-content__rightInfo {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0 !important;
}

.header-top-content__officialAcct__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 0;
  overflow: hidden;
  position: absolute;
  opacity: 0;
  top: 30px;
  z-index: 540;
  color: #d1d1d1;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-align: left;
  font-size: 0;
  cursor: pointer;
}

.top::before {
  content: '顶置';
  color: #e22;
  font-size: 16px;
  font-weight: 500;
  margin-right: 5px;
}
